.home-moreproducts {
  margin-top: 2rem;

  &__header {
    height: 4rem;
    h3 {
      @extend %section-head-shared;
    }
  }

  &__more {
    padding-top: 2rem;
    padding-bottom: 0.9rem;
  }

  &__button {
    margin: 0 auto;
    display: flex;
    width: 33rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.4rem;
    color: $dark-primary-color;
    border: 0.1rem solid $primary-color;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__text {
    display: block;
  }

  &__button--loading {
    .home-moreproducts__icon {
      display: block;
    }
    .home-moreproducts__text {
      display: none;
    }
  }

  &__icon {
    display: none;
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    border: 0.2rem solid $dark-primary-color;
    border-radius: 50%;
    @include animation(spin, 1000ms, infinite, linear);

    &:before {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: $background-color;
      position: absolute;
      right: -0.1rem;
      top: -0.1rem;
    }
  }
}

@include breakpoint-down(medium) {
  .home-moreproducts {
    margin-top: 0.8rem;
    &__header {
      height: 4.5rem;
    }
  }
}
